# If using OTLP/gRPC, set it to:
HONEYCOMB_API_ENDPOINT=api.honeycomb.io:443
# If using OTLP/HTTPS, set it to:
#HONEYCOMB_API_ENDPOINT=https://api.honeycomb.io:443
HONEYCOMB_API_KEY=...
HONEYCOMB_DATASET=fib
#HONEYCOMB_TRACES_APIKEY=...
#HONEYCOMB_TRACES_DATASET=fib-traces
#HONEYCOMB_METRICS_APIKEY=...
#HONEYCOMB_METRICS_DATASET=fib-metrics
SAMPLE_RATE=1
SERVICE_NAME=fib
